{{#if dataDictionary}}
{{#each dataDictionary}}
<div class='w-[600px] h-fit flex flex-col rounded-3xl shadow-[-10px_-15px_30px_-20px_rgba(0,0,0,.3)] bg-gradient-to-t from-white relative
        {{#if optional/learned}}{{../DINAMIC_CLASSES.cardWordLearned}}{{else}}{{../DINAMIC_CLASSES.cardWordDefault}}{{/if}}
        {{#setDifficultClass difficulty ../DINAMIC_CLASSES.cardWordDifficult}}{{/setDifficultClass}}'
  data-role='dictionary__card' data-id='{{id}}'>
  <div class='w-full flex'>
    <img class='w-48 h-32 rounded-tl-3xl rounded-br-3xl' src="{{../API_URL}}/{{image}}" alt='image' />
    <div class='flex flex-col items-center grow text-xl'>
      <div class='pt-[10px] text-center'>
        <h3 class='text-3xl'>
          {{word}}
        </h3>
        <span>{{transcription}}</span>
      </div>
      <span>{{wordTranslate}}</span>
      {{#if ../idUser}}
      <div class='flex gap-5'>
        {{#if optional/learned}}
        {{else}}
        <i class='bi bi-puzzle text-2xl 
                 {{#if ../isDifficultGroup}}cursor-pointer{{/if}}
                 {{#setDifficultClass difficulty ../DINAMIC_CLASSES.iconWordDifficult 'cursor-pointer'}}{{/setDifficultClass}}'
           data-role='dictionary__difficult' title='Сложное'></i>
        {{/if}}
        <i class='bi bi-mortarboard text-2xl
                 {{#if optional/learned}}{{../DINAMIC_CLASSES.iconWordLearned}}{{^}}cursor-pointer{{/if}}'
          data-role='dictionary__studied' title='Изучено'></i>
      </div>
      {{/if}}
    </div>
    <span class='pt-[15px] cursor-pointer'>
      <i class="bi bi-volume-up-fill text-2xl pr-2" data-role='dictionary__sound'></i>
    </span>
  </div>
  <div class='px-2 pb-4 flex flex-col'>
    <div class='py-2 flex flex-col'>
      <span>{{{textMeaning}}}</span>
      <span>{{textMeaningTranslate}}</span>
    </div>
    <div class='py-2 flex flex-col'>
      <span>{{{ textExample}}}</span>
      <span>{{textExampleTranslate}}</span>
    </div>
    {{#if ../idUser}}
    <div class="flex gap-2 flex-wrap ml-auto">
      <span>Правильных ответов: 0</span>
      <span>Неправильных ответов: 0</span>
    </div>
    {{/if}}
  </div>
</div>
{{/each}}
{{else}}
Здесь нет слов.
{{/if}}