{{#each dataDictionary}}
<div class='w-[400px] flex flex-col rounded-3xl bg-gradient-to-t to-blue-300 from-white cursor-point relative'
  data-role='dictionary__card' data-id='{{id}}'>
  <div class='w-full flex'>
    <img class='w-48 h-32 rounded-tl-3xl rounded-br-3xl' src="{{../API_URL}}/{{image}}" alt='image' />
    <div class='flex flex-col justify-center items-center grow text-xl'>
      <div class='pb-3 text-center'>
        <h3 class='text-3xl'>
          {{word}}
        </h3>
        <span>
          {{transcription}}
        </span>
      </div>
      <span>
        {{wordTranslate}}
      </span>
    </div>
    <span class='pt-[17px]'>
      <i class="bi bi-volume-up-fill text-2xl pr-2 cursor-pointer" data-role='dictionary__sound'></i>
    </span>
  </div>
  <div class='px-2 py-4 flex flex-col'>
    <div class='py-2 flex flex-col'>
      <span>
        {{{textMeaning}}}
      </span>
      <span>
        {{textMeaningTranslate}}
      </span>
    </div>
    <div class='py-2 flex flex-col'>
      <span>
        {{{ textExample}}}
      </span>
      <span>
        {{textExampleTranslate}}
      </span>
    </div>
  </div>
</div>
{{/each}}