<div class="game place-self-center flex flex-col gap-4">
  <div class="self-center flex flex-col">
    <div class="relative">
    <img 
      class="w-32 h-32 rounded-full border-black border self-center"
      src="{{API_URL}}/{{image}}"
      alt='image'
    />
    <div class="hidden-picture transition-all duration-1000 absolute bottom-0 left-0 w-32 h-32 rounded-full border-black border self-center bg-indigo-50"></div>
    </div>
    <div class="self-center">
      <button class="hover:bg-blue-700 hover:rounded-full p-2 px-2.5">
        <i class="fa-solid fa-volume-high"></i>
      </button>
      <span class="pr-2.5">{{word}}</span>
    </div>
  </div>
  <button class="hover:bg-blue-700 hover:rounded-full p-2 py-3.5 w-fit self-center">
    <i class="fa-solid fa-volume-high fa-3x"></i>
  </button>
  <ul class="list-decimal list-inside flex gap-4">
    <li data-answer="" class="p-2 cursor-pointer rounded hover:bg-blue-700">{{word1}}</li>
    <li data-answer="" class="p-2 cursor-pointer rounded hover:bg-blue-700">{{word2}}</li>
    <li data-answer="" class="p-2 cursor-pointer rounded hover:bg-blue-700">{{word3}}</li>
    <li data-answer="" class="p-2 cursor-pointer rounded hover:bg-blue-700">{{word4}}</li>
    <li data-answer="" class="p-2 cursor-pointer rounded hover:bg-blue-700">{{word5}}</li>
  </ul>
  <button data-game="dont-know" class="border-2 border-slate-400 border-solid rounded-md p-3.5 self-center hover:bg-blue-700">Не знаю</button>
</div>

<div class="hidden">
  {{!-- true answer --}}
  <li class="list-none p-2 cursor-pointer rounded hover:bg-blue-700 text-lime-400">
    <i class="fa-solid fa-circle-check"></i>
    слово1
  </li>
  {{!-- false answer --}}
  <li class="list-none p-2 cursor-pointer rounded hover:bg-blue-700 text-red-400">
    <i class="fa-solid fa-circle-xmark"></i>
    слово1
  </li>
</div>